{% extends 'Layout.html' %} {% block body %}
<div class="col s4 ">
    <h4 class="grey-text text-darken-4 ">Category</h4>
    <ul>
        <li><a class="deep-orange-text text-accent-4" href="#">asdasdwq</a></li>
        <li><a class="deep-orange-text text-accent-4" href="#">asdasdwq</a></li>
    </ul>


</div>
<div class="col s7">
    <h4 class="grey-text text-darken-4 ">items</h4>
    <ul>
        <li><a class="deep-orange-text text-accent-4" href="#">asdasdwq</a></li>
        <li><a class="deep-orange-text text-accent-4" href="#">asdasdwq</a></li>
    </ul>
</div>
{% endblock %}
