<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Item catalog website</title>

    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">


</head>

<body class="grey lighten-2">

    <nav>
        <div class="nav-wrapper  grey darken-4 ">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right">
                {% if loggedin %}
                <li class="deep-orange accent-4"><a href={{ url_for('gdisconnect') }}">logout</a></li>
                {% endif %}
            {% if not loggedin %}
            <li class="deep-orange accent-4"><a href={{ url_for('login') }}>Login</a></li>
            {% endif %}


            </ul>
        </div>
    </nav>
    <div class="container grey lighten-5 " style="margin-top: 10px">
        <div class="row">

            {% block body %} {% endblock %}
        </div>
    </div>

</body>

</html>
