<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>

    <script src="https://apis.google.com/js/platform.js?onload=start"></script>

</head>

<body class="grey lighten-2">

<nav>
    <div class="nav-wrapper  grey darken-4 ">
        <a href={{ url_for('index') }} class="brand-logo">Movie DB</a>
        <ul id="nav-mobile" class="right">
            {% if loggedin %}
                <li class="deep-orange accent-4"><a
                        href={{ url_for('gdisconnect') }}>logout</a></li>
            {% endif %}
            {% if not loggedin %}
                <li class="deep-orange accent-4"><a href={{ url_for('login') }}>Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container grey lighten-5 " style="margin-top: 10px">
    <div class="row">

        &nbsp
        {% if loggedin %}
            You are logged in already
        {% endif %}
        {% if not loggedin %}
            <div id="signinButton" class="center-align">
          <span class="g-signin"
                data-scope="openid email"
                data-clientid="348064573950-7arf4kho0e3t5va80p42kv44iajp3eaj.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
          </span>

            </div>
        {% endif %}

        <div id="result"> &nbsp</div>
        <script>
            function signInCallback(authResult) {
                if (authResult['code']) {
                    // Hide the sign-in button now that the user is authorized
                    $('#signinButton').attr('style', 'display: none');
                    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
                    $.ajax({
                        type: 'POST',
                        url: '/gconnect?state={{STATE}}',
                        processData: false,
                        data: authResult['code'],
                        contentType: 'application/octet-stream; charset=utf-8',
                        success: function (result) {
                            // Handle or verify the server response if necessary.
                            if (result) {
                                $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                                setTimeout(function () {
                                    window.location.href = "http://localhost:5000/";
                                }, 4000);

                            } else if (authResult['error']) {
                                console.log('There was an error: ' + authResult['error']);
                            } else {
                                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                            }

                        }


                    });
                }
                $('#result').html('&nbsp');
            }
        </script>

    </div>
</div>

</body>

</html>

